@media only screen and (min-width: 700px) {
    .wrapper {
        position: absolute;
        display: grid;
        grid-template-columns: 608px;
        grid-gap: 3px;
    }
    .youtube-img {
        height: auto;
        max-width: 100%;
        border-radius: 12px;
    }
    .auth-form-wrapper {
        grid-column: 2;
    }
}

@media only screen and (max-width: 699px) {
    .youtube-img {
        display: none;
    }
}
